:root {
    --cyan-color: hsl(178, 100%, 50%);
    --soft-blue: hsl(215, 51%, 70%);
}
* {
    box-sizing: border-box;
    font-family: Outfit, Arial;
    color: hsl(0, 0%, 100%);
    margin: 0;
}
body {
    background-color: hsl(217, 54%, 11%);
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
}
main {
    background-color: hsl(216, 50%, 16%);
    display: flex;
    flex-direction: column;
    width: 22rem;
    padding: 1.3em;
    border-radius: 12px;
    row-gap: 30px;
}
.nft-thumbnail-container {
    position: relative;
    aspect-ratio: 1;
}
.nft-thumbnail {
    width: 100%;
    border-radius: 6px;
    display: block;
}
.nft-thumbnail-overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    aspect-ratio: 1;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out, background-color 0.3s ease-in-out;
    background-color: rgba(0, 255, 247, 0.6);
    cursor: pointer;
}
.nft-thumbnail-overlay:hover {
    opacity: 1;
}
.nft-description-container {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.nft-title {
    color: white;
    font-size: 23px;
    font-weight: 600;
    cursor: pointer;
    display: inline-block;
    transition: color 0.3s;
}
.nft-title:hover {
    color: var(--cyan-color);
}
.nft-description {
    color: var(--soft-blue);
    font-weight: 300;
    font-size: 18px;
    line-height: 1.5;
}
.nft-stats-container {
    display: flex;
    justify-content: space-between;
}
.nft-price {
    color: var(--cyan-color);
    display: flex;
    align-items: center;
    column-gap: 8px;
    font-weight: 400;
    font-size: 15px;
}
.nft-duration {
    color: var(--soft-blue);
    display: flex;
    align-items: center;
    column-gap: 8px;
    font-size: 15px;
}
.nft-credits-container {
    display: flex;
    align-items: center;
    padding-top: 1.2rem;
    padding-bottom: 0.3rem;
    border-top: 1px solid hsl(215, 32%, 27%);
}
.nft-creator-row {
    display: flex;
    align-items: center;
    column-gap: 15px;
    color: var(--soft-blue);
}
.nft-creator {
    color: white;
    transition: color 0.3s;
}
.nft-creator:hover {
    color: var(--cyan-color);
    cursor: pointer;
}
.nft-creator-avatar {
    width: 30px;
    border: 1px solid var(--soft-blue);
    border-radius: 15px;
}